@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--main);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --main: #fbf5f3;
    --texty: #350203;
    --card: 0 0% 100%;
  }

  .dark {
    --background: 0 0% 3.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.magneto_txt {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

@keyframes rota {
  to {
    transform: rotate(180deg);
  }

  from {
    transform: rotate(0deg);
  }
}

.cert {
  animation: rota 2s infinite linear;
}

.blurry {
  background: rgba(248, 214, 182, 0.169);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}